{% extends './layout.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<h1>Home</h1>
{% if user.is_authenticated %}
    <p>Welcom to our website {{ user.username }}</p>
{% else %}
    <p>Please <a href="{{ url_for('auth.login') }}">Login</a></p>
{% endif %}

<h2>Posts</h2>
<form action="{{ url_for('main.create_post') }}" method="POST">
    <div class="mb-3">
        <label for="inputTitle" class="form-label">Title</label>
        <input type="text" class="form-control" id="inputTitle" name="inputTitle">
    </div>
    <div class="mb-3">
        <label for="inputBody" class="form-label">Body</label>
        <input type="text" class="form-control" id="inputBody" name="inputBody">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% for p in post %}
<h3>Post by Users:</h3>
<div class="card">
    <div class="'card-body">
        <h5 class="car-title"><a href="{{ url_for('main.single_post', id=post.id)}}">{{ p.title }}</a></h5>
        {{ p.body }}
    </div>
    <div class="card-footer">
        This post brought to you by: {{ p.user.username }} 
    </div>
</div>
{% endfor %}
<br>
{% for car in cars %}
<ul class="list-group">
    <li class="list-group-item"><h3>Make: {{ car['make'] }}</h3></li>
    <li class="list-group-item"><h5>{{ car['model'] }}</h5></li>
    <li class="list-group-item"><h5>{{ car['year'] }}</h5></li>
    <li class="list-group-item"><h5>{{ car['color'] }}</h5></li>
    <li class="list-group-item"><h5>Price: {{ car['price'] }}</h5></li>
</ul>
{% endfor %}

{% endblock content %}